/* 修改el-menu */
.el-submenu__title {
  margin: 0 10px;
}
.el-submenu__title:hover {
  background: transparent !important;
}
.el-menu--horizontal>.el-submenu .el-submenu__title {
  border: none !important;
}

li.el-menu-item {
  font-size: 14px !important;
  height: 40px !important;
  line-height: 40px !important;
  color: #111 !important;
  padding: 0 30px !important;
  border: 0 !important;
}

.el-menu-item.is-active {
  border: 0 !important;
  background-color: #5ADACE !important;
}
/* 修改el-submenu */
.el-menu--popup-bottom-start {
  background-color: #fff !important;
  padding: 0 !important;
}

.el-menu--popup-bottom-start li {
  background-color: #fff !important;
  text-align: center !important;
}

.el-menu--popup-bottom-start li:hover {
  background-color: rgba(0, 0, 0, .2) !important;
}

/* 修改表单样式 */ 
.el-form-item__label {
  font-size: 12px !important;
}


/* 修改el-tab */
.el-tabs__item {
  padding: 0 30px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.el-tabs__content {
  padding: 20px !important;
}

/* 修改分页器 */
.el-pagination__jump {
  margin-right: 20px !important;
}
.btn-prev,.btn-next {
  padding: 8px 14px !important;
  border:1px solid #5adace !important;
}

.btn-prev span,.btn-next span {
  line-height: 10px !important;
}

/* 修改分割线 */
.el-divider--horizontal {
  height: 2px !important;
}


/* 修改弹出框头部dialog */
.el-dialog__header {
  background-color: #5ADACE;
}

/* 修改card */
.el-card__body {
  padding: 0 !important;
}
/* 修改表格样式 */

.el-table th.el-table-column--selection {
  background-color: #fff !important;
}
.el-table th{
  background-color: #5adace !important;
  color: #111 !important;
}
.cell {
  font-size: 12px !important;
}

/* 修改拖拽上传 */
.el-upload-dragger {
  width: 381px !important;
  height: 75px !important;
}

/* 修改单选组 */
.el-radio-button__inner{
  border: 1px solid #333 !important;
  color: #333 !important;
  border-radius: 0 !important;
}

.el-input-group__append {
  padding: 0 5px !important;
  left: -1px;
  border-left: 1px solid #fff;
}
/* 定义badge样式 */
.item {
  height: 20px;
  line-height: 20px;
  top: -1px;
}

/* 表格特殊字段文字颜色 */
.blue {
  color: #0056cc;
}
.red {
  color: #E20000;
}
.green {
  color: #02A306;
}
.gray {
  color: #999999;
}


/* 设置公共样式 */
.marginT20 {
  margin-top: 20px;
}

.width230 {
  width: 257px;
}

.h4style {
  margin: 5px 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

/* 移入变色 本来是链接色 */
.hover-red {
  color: #0056cc;
  cursor: pointer;
}
.hover-red:hover {
  color: #f40 !important;
}



