/* 修改el-menu */
.el-submenu__title {
  padding: 0 5px !important;
  margin: 0 15px;
}

.el-menu-item {
  font-size: 16px !important;
  height: 50px !important;
  line-height: 50px !important;
  color: #111 !important;
  padding: 0 30px !important;
  border: 0 !important;
}

.el-menu-item.is-active {
  border: 0 !important;
  background-color: #5ADACE !important;
}
/* 修改el-submenu */
.el-menu--popup-bottom-start {
  background-color: #fff !important;
  padding: 0 !important;
}

.el-menu--popup-bottom-start li {
  background-color: #fff !important;
  text-align: center !important;
}

.el-menu--popup-bottom-start li:hover {
  background-color: rgba(0, 0, 0, .2) !important;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 50px !important;
  line-height: 50px !important;
}

.el-menu--horizontal>.el-menu-item {
  height: 50px !important;
  line-height: 50px !important;
}

/* 修改el-tab */
.el-tabs__item {
  padding: 0 30px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.el-tabs__content {
  padding: 20px !important;
}

/* 修改分页器 */
.el-pagination__jump {
  margin-right: 20px !important;
}
.btn-prev,.btn-next {
  padding: 8px 14px !important;
  border:1px solid #5adace !important;
}

.btn-prev span,.btn-next span {
  line-height: 10px !important;
}

/* 修改分割线 */
.el-divider--horizontal {
  height: 2px !important;
}

/* 修改省地市下拉框 */
.area-select {
  height: 40px !important;
}

.area-selected-trigger {
  color: #bbb;
}

/* 修改弹出框头部dialog */
.el-dialog__header {
  background-color: #5ADACE;
}

/* 修改card */
.el-card__body {
  padding: 0 !important;
}
/* 修改表格样式 */
.el-table th{
  background-color: #5adace !important;
  color: #111 !important;
}
/* 修改拖拽上传 */
.el-upload-dragger {
  width: 351px !important;
  height: 120px !important;
}

/* 修改单选组 */
.el-radio-button__inner{
  border: 1px solid #888 !important;
  color: #888 !important;
}
/* 表格特殊字段文字颜色 */
.blue {
  color: #0056cc;
}
.red {
  color: #E20000;
}
.green {
  color: #02A306;
}
.gray {
  color: #999999;
}

